
.header {
    height: 100vh;
    background-image: url('images/banner2.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 250px;
    text-align: center;
    color: #fff;
}

#pose {
    color: red;
}

#footer {
    background-color: black;
    color: white;
    height: 100px;
   
}
body {
}
#logs{
    height:197px;
}
#regs{
    height:179px;
}
#homes{
    height:500px;
}