
.header {
    height: 100vh;
    background-image: url('images/banner2.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 250px;
    text-align: center;
    color: #fff;
}

#pose {
    color: red;
}
.cat {
    border: 1px solid;
    border-width: 4px;
    border-radius: 50px;
    float: left;
    height: 300px;
    width: 330px;
    margin-left: 70px;
    margin-top: 50px;
  
}
.imgnm1 {
    float: left;
    margin-left: 300px;
    margin-top: 1px;
    
}

.category {
    border: 1px solid;
    border-width: 4px;
    border-radius: 50px;
    float: left;
    height: 300px;
    width: 330px;
    margin-left: 70px;
    margin-top: 50px;
}
#footer {
    background-color: black;
    color: white;
    height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Height of the footer */
   
}

body {
}

#logs {
    height: 197px;
}

#regs {
    height: 179px;
}

#homes {
    height: 2000px;
    
}

.us {
    height: 500px;
    border: 1px solid;
    border-width:2px;
    border-radius:100px;
    width:600px;
    margin:0 auto;
    margin-bottom:100px;
}
#lbgallery{
    margin-top:1300px;
}

